.home{
  background: palegreen;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  justify-content: start;
  align-items: center;
}
.sidber{
display: flex;
flex-direction: column;
}